<mat-toolbar color="primary">

  <mat-toolbar-row>
    <span>Blogs</span>
    <ul>
      <li>
        <a routerLink="/" mat-stroked-button>All posts</a>
      </li>
      <li *ngIf='userAuthenticated'>
        <a routerLink="/create" mat-stroked-button routerLinkActive="mat-accent">Create Post</a>
      </li>
      <!--li *ngIf='!userAuthenticated'>
        <span>Login to create posts!</span>
      </li-->
    </ul>

    <span class="example-spacer"></span>

    <ul>
      <li *ngIf='!userAuthenticated'>
        <a routerLink="auth/login" mat-stroked-button routerLinkActive="mat-accent">Login</a>
      </li>
      <li *ngIf='!userAuthenticated'>
        <a routerLink="auth/signup" mat-stroked-button routerLinkActive="mat-accent">Signup</a>
      </li>
      <!--li class="avatar" *ngIf='userAuthenticated'>
        <div class="avatar">
          <img mat-list-avatar src="{{userData.imagePath}}" alt={{userData.name}}>
        </div>
      </li-->
      <li *ngIf='userAuthenticated'>
        <button mat-button (click)="onLogout()">Logout</button>
      </li>
    </ul>
  </mat-toolbar-row>

</mat-toolbar>
