ul {
  list-style: none;
}

li {
  display: inline;
  margin-right: 10px;
}

li a {
  text-decoration: none;
}

mat-icon {
  padding: 0 14px;
  cursor: pointer !important;
}

.example-spacer {
  flex: 1 1 auto;
}
