:host {
  display: block;
  margin-top: 1rem;
}

mat-accordion {
  display: block;
  margin: 1rem 0 0.5rem 0;
  width: 100%;
}

mat-form-field, textarea {
  display: block;
  width: 100%;
}

.accordion-headers-align .example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.accordion-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

mat-spinner {
  margin: auto;
}