<mat-accordion *ngIf="posts.length && !isLoading">
  <mat-expansion-panel *ngFor="let post of posts">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{post.title}}
        <span class="example-fill-remaining-space"></span>
        Created by: {{post.name}}, {{post.age}}
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p style="font-size: 1.2rem;">{{post.content}}</p>
    <mat-action-row>
      <span style="margin-top: 8px; font-size: small">Contact author at: {{post.email}}</span>
      <a mat-button color="primary" [routerLink]="['/edit', post.id]">Edit</a>
      <button mat-button color="warn" (click)="onDelete(post.id)">Delete</button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>

<mat-card *ngIf="!posts.length && !isLoading">
  <p class="info-text mat-body-1">No posts added as of yet!</p>
</mat-card>

<mat-spinner *ngIf="isLoading"></mat-spinner>