:host {
  display: block;
  margin-top: 1rem;
}

.info-text {
  text-align: center;
  cursor: none;
}

.example-fill-remaining-space {
  /* This fills the remaining space, by using flexbox.
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

mat-spinner {
  margin: auto;
}
